<table>
    <thead>
        <tr>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Nombre</td>
            <td>Kilometros</td>
            <td>Imagen</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{car.marca}}</td>
            <td>{{car.nombre}}</td>
            <td>{{car.modelo}}</td>
            <td>{{car.km}}</td>
            <td><img [src]=car.img alt=""></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>